.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  width: 200px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage {
  width: 100%; /* Changed from auto to 100% */
  height: auto; /* Changed from 100% to auto */
  object-fit: cover;
}

.content {
  padding: 15px;
}

.link {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #007bff;
  text-decoration: none;
}
